{% extends "base.html" %}

{% block content %}
<div class="post">
    <h1 class="post-title"></h1>
    <p>
        Hi! My name is Lucas. I am a software engineer and most recently I ive been working at a startup called Rokt,
        where I work on K8s infrastructure, developing scalable go microservices, and improving the developer
        experience.
        <br>
        <br>
        I made this website to document and share some of the coding and 3d printing projects I’ve worked on.
        Thanks for visiting!
    </p>
</div>
{% endblock %}